<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Ana Mateos Sánchez y Gabriel Martínez Fresneda.
</p>

<img src="/images/foto perfil.jpg" />
<img src="/images/foto ana.jpg" />

<a href="https://github.com/gmf2/quiz_2017">https://github.com/gmf2/quiz_2017</a>
