<h1>Ayuda</h1>

<p>
    -¿Que es un quiz? Prueba sencilla para evaluar un contenido, conocimiento de un tema, avance de lectura; por parte de los integrantes de un grupo de estudio o un aula de clase.
    -¿Como se responde? Rellenando el espacio en blanco que hay tras la pregunta.
    -Objetivo del portal: evaluar los conocimientos de un grupo de estudio o clase.
</p>